body {
    color: white;
    background: #212121;
}
.d2 {
    text-align: center;
    margin: 0px 0px 20px;
}
.d3 {
    width: 400px;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: centre;
    border: 1px solid;
    margin: 0 auto;
}
img {
   width: 100%;
   height: 100%;
}
.d4, .d5 {
   display: flex;
   margin: 20px auto;
}
button {
   margin: 0 auto;
   width: 70px;
   height: 30px;
}
input {
   color: White;
   background: Black;
   width: 180px;
   height: 35px;
   text-align: center;
   border-radius: 14px;
   margin: 0 auto;
}
i {
   color: white;
   margin-left: 10px;
   text-decoration: none;
}
.d41, a {
   /*display: none;*/
   margin: auto;
}
